﻿@using CSharpMVCDemo.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<label>Total Students:</label>  @ViewBag.TotalStudents <br />
@TempData["name"]
<ul>
    @foreach (var std in ViewData["students"] as IList<Student>)
    {
        <li>
            @std.StudentName - @std.Age
        </li>
    }
</ul>



