﻿@model CSharpMVCDemo.Models.Demo
@{
    ViewBag.Title = "May tinh";
}
<html>
<head>

</head>

<body>
    <h2>May tinh</h2>
    <div class=" row">
        @using (Html.BeginForm("/Index", "Demo", FormMethod.Post))
        {
            <div class="form-group">
                <label for="no1">No1</label>
                <input type="text" class="form-control" id="no1" name="no1" value="@Model.no1" />
            </div>
            <div class="form-group">
                <label for="no2">No2</label>
                <input type="text" class="form-control" id="no2" name="no2" value="@Model.no2" />
            </div>
            <div class="form-group">
                <label for="tot">Total</label>
                <input type="text" class="form-control" id="tot" name="tot" value="@Model.tot" />
            </div>

            <button type="submit" class="btn btn-info" id="add" value="add" name="calc">+</button>

            <button type="submit" class="btn btn-danger" id="min" value="min" name="calc">-</button>

            <button type="submit" class="btn btn-warning" id="sub" value="sub" name="calc">*</button>

            <button type="submit" class="btn btn-default" id="div" value="div" name="calc">/</button>
        }
    </div>
</body>
</html>
